/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* Root Elements */

:root{

    --clr-primary-1: hsl(185, 75%, 39%);
    --clr-primary-2: hsl(229, 23%, 23%);
    --clr-primary-3: hsl(227, 10%, 46%);

    --clr-neutral-1:hsl(0, 0%, 59%);

    --ff-base: 'Kumbh Sana', sans-serif;

    --fs-base: 18px;

    --fw-light: 400;
    --fw-bold: 700;   
}

/* cutom css */
body{
    font-family: var(--ff-base);
    background-color: var(--clr-primary-1);
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
   
}
.background{
    display: grid;
    grid-template-columns: 1fr 1fr;;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: relative;
   
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateY(-50%);
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateY(50%);
}
.card{
    z-index: 1;
    background-color: white;
    
    position: absolute;
  
    border-radius: 1rem;
    width: 100%;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    margin: auto;
   
}
.header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#image{
    width: 100%;
    height: 125px;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0 ;
}
#profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    border: 5px solid white;
}
.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.personal-info h1{
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-2);
}
.personal-info p{
    font-size: 0.8rem;
    color: var(--clr-neutral-1);
    
}
.personal-info span{
    color: var(--clr-primary-3);
    
}
.social-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.followers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.followers h2{
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-2);
}
.followers p{
    font-size: 0.7rem;
    color: var(--clr-neutral-1);
    letter-spacing: 0.1rem;
    font-weight: var(--fw-bold);
}
.likes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.likes h2{
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-2);
}
.likes p{
    font-size: 0.7rem;
    color: var(--clr-neutral-1);
    letter-spacing: 0.1rem;
    font-weight: var(--fw-bold);
}
.photos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photos h2{
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-2);
}
.photos p{
    font-size: 0.7rem;
    color: var(--clr-neutral-1);
    letter-spacing: 0.1rem;
    font-weight: var(--fw-bold);
}
@media (max-width: 768px){
    body{
        overflow: hidden;
    }
    .background{
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    .card{
        width: 90%;
        max-width: 90%;
        max-height: 90%;
    }
   .top{
       transform: translateY(-55%);
       transform: translateX(-55%);
   }
    .bottom{
         transform: translateY(35%);
         transform: translateX(45%);
    }
}